* {
    margin: 0;
    padding: 0;
}

body {
   background: #DCDCDC;
}

#container {
    background-color: #7b859a;
    margin: 0 auto;
    width: 90%;
}

/* Header ------------------------------------------ */
header {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background-color: #d2d6d0;
    float: left;
	background: url("../multi/banner2.jpg");
	background-repeat: repeat-x;
}
#banner{
	text-align: center;
	font-size: 40px;
	margin: 20px auto;
	color: #20008F;
	
}

/* Nav ------------------------------------------ */
nav {
    width: 70%;
    height: 15vh;
    box-sizing: border-box;
    background-color: #212930;
    float: right;
}

#_nav_1 {
    width: 100%;
    height: 7.5vh;
	background: linear-gradient(to top, #868f98,#FCFCFC);
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 10px;
}

#_nav_1 #_time {
    float: right;
	font-size: 20px; 
    color: #F75400;
}

#_nav_2 {
    height: 7.5vh;

	background: linear-gradient(to bottom, #606a74,#8FB5E7 );
    padding-top: 15px;
    padding-right: 10px;
	overflow: hidden;
}
ul{
	list-style-type: none;
	margin: 5px;
	padding: 0;
	overflow: hidden;
	font-size: 25px;
	float: left;
}
li{
	display: inline;
	border-right: 2px solid #bbb;
}
a{
	text-decoration: none;
	color: #0A005F;
	padding: 10px;
}
a:hover{
	color: aqua;
	background-color: #313030;
	transition: 1s;
}

/* Aside ------------------------------------------ */
aside{
	width: 30%;
	height: 80vh;
	box-sizing: border-box;
    background: #4f5559;
	float: left;
}
/* Aside 1----------*/
#_aside_1{
    height: 25vh;
    box-sizing: border-box;
	background: linear-gradient(to top,#a8adb4,#FCFCFC);
    padding: 10px 30px;
	overflow: hidden;
}

._a_1_button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

#_aside_1 #_button {
    padding-left: 25px;
    width: auto;
}
/* Aside 2----------*/
#_aside_2{
    height: 15vh;
	background: linear-gradient(to bottom,#868f98,#B1AFAF);
    box-sizing: border-box;
    padding: 10px;
}


#_aside_2 #_search {
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}
/* Aside 3----------*/
#_aside_3{
    height: 40vh;
    color: #C9C9C9;
	
	background: linear-gradient(to bottom,#606a74,#C9C9C9);
    box-sizing: border-box;
    padding: 30px 0px 30px 0px;
	font-size: 25px;
	overflow: hidden;
}
._a_3{
	display: block;
	font-size: 25px;
	line-height: 30px;
	text-indent: 30px;
}

/* Section ------------------------------------------ */
section {
	width: 70%;
	height: 65vh;
	box-sizing: border-box;
    background-color: #7b859a;
	float: right;
}

#_section_1 {
    width: 60%;
    height: 65vh;
    background-color: #ffffff;
    float: left;
}

#_section_2 {
    width: 40%;
    height: 65vh;
	background: linear-gradient(to bottom, #868f98, #8BD9D1);
    float: right;
    overflow: auto;
}

._s_2{
	display: block;
	font-size: 20px;
	line-height: 25px;
}
#_content{
	width: 99%;
	height: 99%;
}

/* Footer ------------------------------------------ */
footer {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
	background: linear-gradient(to bottom,#212930,#D89BF0 );
	color: #C4E6EB;
    text-align: center;
    padding: 20px;
    float: left;
	overflow:hidden;
}
/*Best Seller HTML and Discount Books-----------------------*/
._img1{
	width: 100px;
	height: 150px;
	float: left;
	margin: 5px;
}
._book1{
    margin: 20px;
    text-align: justify;
}